.header {
  width: 100%;
  height: 5rem;
  background-color: #b9936c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8%;
}
.container{
  display: flex;
  width: 45%;
  justify-content: space-between;
}
.logo {
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  color: #e8e2c4;
  margin: 0;
}
.active {
  width: 100%;
  border-bottom: 1px solid;
  box-shadow: 0 21px 4px rgba(0, 0, 0, 0.2);
}
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}
.header li {
  margin: 0 1rem;
}
.button {
  border: 0;
  background-color: transparent;
  font-weight: bold;
}
.header a,
.header p {
  text-decoration: none;
  color: #e6e2d3;
  font-weight: bold;
  cursor: pointer;
}
.logout {
  font: inherit;
  background-color: transparent;
  border: 1px solid #e6e2d3;
  color: #e6e2d3;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}
.header a:hover,
.button:hover,
.logo:hover,
.header p:hover {
  color: #c4b7a6;
}
.logout:hover {
  background-color: #c4b7a6;
  color: #b9936c;
}
